[user]
    # email = jaeyoung@monodiary.net
    # name = LEE Jaeyoung
    # signingkey = 
[commit]
    gpgsign = true
[core]
    editor = vim
[color]
    ui = true
[alias]
    co = checkout
    st = status
    sw = switch
    lg = log --graph --pretty=format='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    branches = branch -a
[init]
    defaultBranch = main
